.hero{
    height: 250px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("roadtripopt.png");
    background-size: cover;
    background-position: center;
    margin-top: 5px;
}

.txt h2 {
    font-size: 40px;
    color: rgb(22, 112, 42);
    text-align: center;
}
/* .card2 {
    float: right;

} */
.columns{
    margin: 5rem auto;
    width: min(90%, 75rem);
    display: grid;
    gap: 2em;
    text-align: center;
    grid-template-columns: repeat(2, 1fr);
}

.card1 {
    border: green solid 1px;
}

.card2 {
    border: green solid 1px;
}

.card3 {
    border: green solid 1px;
}

.card4 {

    border: green solid 1px;
}