.hero {
    height: 250px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("roadtrip-featured.jpeg");
    background-size: cover;
    background-position: center;
}

/* .card2 {
    float: right;

} */
.columns{
    margin: 5rem auto;
    width: min(90%, 75rem);
    display: grid;
    grid-auto-flow: row;
    gap: 2em;
}