* {font-family: 'Kaisei Tokumin', serif;}

body {background: rgb(20, 20, 20)}

.darkGrey {background: rgb(24, 23, 23);}

.hero {
    /* margin-left: 150px; */
    /* margin-top: 15px;
    margin-bottom: 25px; */
    background-repeat: no-repeat;
}

.city {
    border-radius: 20px;
}

.txt h2 {
    font-size: 40px;
    color: rgb(22, 112, 42);
    text-align: center;
}

.columns{
    margin: 5rem auto;
    width: min(90%, 75rem);
    display: grid;
    gap: 2em;
    text-align: center;
    grid-template-columns: repeat(2, 1fr);
}

.seaSalt {background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);}

.borderRadius {border-radius: 20px;}

.lightGrey {color: #adb5bd; text-align: center;}

.pill {border-radius: 25px; background-color: #adb5bd }

.pill:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 #4b6cb7;
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.bottom {margin-bottom: 50px;
         margin-top: 50px;
}

.mobileee{display: flex; justify-content: center;}

.cardMedium{width: 25%; float: left;}




/* Cards are split into two columns at 992px or smaller */
@media screen and (max-width: 992px) {
    .cardMedium {
      width: 50%;
    }
  }
  
/* Cards are stacked on top of each other at 768px or smaller */
  @media screen and (max-width: 768px) {
    .cardMedium {
      width: 100%;
    }
  }